body {
    background-color: blue;
    margin: 0%;
    padding: 0%;
}
header {
    background-color: white;
    color: rgb(75, 3, 3);
    font-family: 'Times New Roman', Times, serif; size: 0cqb;
    flex-direction: row;
            }

 

section {
    
    margin: 5px 300px;
}
footer {
    background-color: grey;
}
p {
    font-size: larger;
}

.header{
    display: flex;
}
.home{
    display: flex;
    list-style-type: none;
    font-size: 1.2rem;

}

li a{
    text-decoration: none;
    margin: 25px;
  
}

li{
    margin: 20px;
   
}

.logo{
    margin: 5px;
}

#video{
    margin-top: 30px;
    
}
style="display: flex; align-items: centre; gap: 10px"

.about{
    display: flex; align-items: centre; gap: 10px
    
}

.footer{
    display: flex;
    gap: 250px;
}

#map{
    margin-top: 15px;
}

p{
    color: white;
    margin-left: 10px;
    font-size: large;
}

h2{
    color: white;
    margin-left: 10px;
}

.education{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: larger;
}

.job{
    display: flex;
    text-decoration: none;
    color: white;
    }
